#!/usr/bin/expect

# from gist: https://gist.github.com/elleryq/9c70e08b1b2cecc636d6

set timeout -1;
spawn {{ django_virtualenv_bin_path }}/python manage.py changepassword {{ django_superuser_username }};
expect {
    "Password:" { exp_send "{{ django_superuser_password }}\r" ; exp_continue }
    "Password (again):" { exp_send "{{ django_superuser_password }}\r" ; exp_continue }
    eof
}
