[Unit]
Description=Jupyterhub
After=syslog.target network.target

[Service]
User=root
ExecStart={{jupyterhub_bin_path}} -f {{jupyterhub_config_file_path}}
WorkingDirectory={{jupyterhub_config_folder}}
EnvironmentFile={{jupyterhub_env_file_path}}

[Install]
WantedBy=multi-user.target