# R-Project.org
deb https://cran.r-project.org/bin/linux/ubuntu {{ r_apt_deb_ubuntu_version_path }}-cran{{ r_version_number }}/
#deb https://cloud.r-project.org/bin/linux/ubuntu {{ r_apt_deb_ubuntu_version_path }}-cran{{ r_version_number }}/

# Mirrors
# deb http://cran.rstudio.com/bin/linux/ubuntu {{ r_apt_deb_ubuntu_version_path }}/ # R - CRAN mirror - rstudio.com
# deb http://ftp.ussg.iu.edu/CRAN/bin/linux/ubuntu {{ r_apt_deb_ubuntu_version_path }}/ # R - CRAN mirror - ftp.ussg.iu.edu
# deb http://cran.case.edu/bin/linux/ubuntu {{ r_apt_deb_ubuntu_version_path }}/ # R - CRAN mirror - cran.case.edu
# deb https://cran.revolutionanalytics.com/bin/linux/ubuntu {{ r_apt_deb_ubuntu_version_path }}/ # R - CRAN mirror - revolution analytics (Microsoft)

# Dev Package Channel
# deb http://ppa.launchpad.net/marutter/rrutter/ubuntu {{ r_apt_deb_ubuntu_version_path }} main
# deb-src http://ppa.launchpad.net/marutter/rrutter/ubuntu {{ r_apt_deb_ubuntu_version_path }} main

# Dev {{ r_marutter_version_number }} Package Channel
# - Updates: http://rubuntu.netlify.com/
#deb http://ppa.launchpad.net/marutter/rrutter{{ r_marutter_version_number }}/ubuntu {{ r_apt_deb_ubuntu_version_path }} main 
#deb-src http://ppa.launchpad.net/marutter/rrutter{{ r_marutter_version_number }}/ubuntu {{ r_apt_deb_ubuntu_version_path }} main 
