<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Journalism Research</title>
        <script type="text/javascript">
            // delegate event for performance, and save attaching a million events to each anchor
            document.addEventListener('click', function(event) {
                var target = event.target;
                if (target.tagName.toLowerCase() == 'a')
                {
                    var port = target.getAttribute('href').match(/^:(\d+)(.*)/);
                    if (port)
                    {
                        target.href = window.location.origin;
                        target.port = port[1];
                    }
                }
            }, false);
        </script>
    </head>

    <body>
        <h1>Journalism Research</h1>
        <h3>sourcenet v.2</h3>
        <ul>
            <li><a href="/{{ django_project_name }}/admin">django {{ django_project_name }} project admins</a></li>
            <li><a href="/{{ django_project_name }}/sourcenet/index">sourcenet application</a></li>
            <li><a href="/{{ django_project_name }}/sourcenet/analysis/index">sourcenet analysis application</a></li>
            <li><a href="/{{ django_project_name }}/sourcenet/datasets/index">datasets application</a></li>
            <li><a href="https://github.com/jonathanmorgan/sourcenet">sourcenet source (in github): https://github.com/jonathanmorgan/sourcenet</a></li>
        </ul>
        <h3>Research Tools</h3>
    <ul>
            <!-- <li><a href="https://{{ server_name }}:8000/">jupyterhub</a></li> -->
            <li><a href=":8000">jupyterhub</a></li>
                <ul>
                    <!-- <li><a href="https://{{ server_name }}:8000/user/jonathanmorgan/tree/work/django/research/work/msu_phd_work">msu_phd_work folder</a></li> -->
                    <!-- <li><a href="https://{{ server_name }}:8000/user/jonathanmorgan/tree/work/django/research/work/msu_phd_work/methods">msu_phd_work methods folder</a></li> -->
                    <!-- <li><a href="https://{{ server_name }}:8000/user/jonathanmorgan/notebooks/work/django/research/work/msu_phd_work/methods/methods_paper_planning.ipynb">current work notebook</a></li> -->
                    <li><a href=":8000/user/jonathanmorgan/tree/work/django/research/work/msu_phd_work">msu_phd_work folder</a></li>
                    <li><a href=":8000/user/jonathanmorgan/tree/work/django/research/work/msu_phd_work/methods">msu_phd_work methods folder</a></li>
                    <li><a href=":8000/user/jonathanmorgan/notebooks/work/django/research/work/msu_phd_work/methods/methods_paper_planning.ipynb">current work notebook</a></li>
                </ul>
            <!-- <li><a href="http://{{ server_name }}:8787">R Studio</a></li> -->
            <li><a href=":8787/">R Studio</a></li>
        </ul>
        <h3>Python Resources</h3>
        <ul>
            <li><a href="python_resources.html">Python Resources (IPython Notebooks)</a></li>
        </ul>
    </body>
</html>
