<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Python Resources</title>
    </head>

    <body>
        <h1>Python Resources</h1>
        <h3>Python Basics</h3>
        <ul>
            <li><a href="http://nbviewer.ipython.org/gist/jonathanmorgan/c1a84e3b42c92662bfd2">Install and test drive dev software</a> ( <a href="https://gist.github.com/jonathanmorgan/c1a84e3b42c92662bfd2">source</a> )</li>
            <li><a href="http://nbviewer.ipython.org/gist/jonathanmorgan/555be4d237e85eb22385">Working with directories</a> ( <a href="https://gist.github.com/jonathanmorgan/555be4d237e85eb22385">source</a> )</li>
            <li><a href="http://nbviewer.ipython.org/gist/jonathanmorgan/05ad42fae0586f05ffde">bash, IPython, IPython Notebook and software design</a> ( <a href="https://gist.github.com/jonathanmorgan/05ad42fae0586f05ffde">source</a> )</li>
            <li><a href="http://nbviewer.ipython.org/gist/jonathanmorgan/8cf8c1c37705430629a5">Intro to Python</a> ( <a href="https://gist.github.com/jonathanmorgan/8cf8c1c37705430629a5">source</a> )</li>
            <li><a href="http://nbviewer.ipython.org/gist/jonathanmorgan/8158b32bcf641885cb3e">Good programming habits</a> ( <a href="https://gist.github.com/jonathanmorgan/8158b32bcf641885cb3e">source</a> )</li>
        </ul>
        <h3>Python Skills</h3>
        <ul>
            <li><a href="http://nbviewer.ipython.org/gist/jonathanmorgan/7b66cf2cc1c63f92ac1b">Data, Databases, and SQL</a> ( <a href="https://gist.github.com/jonathanmorgan/7b66cf2cc1c63f92ac1b">source</a> )</li>
            <li><a href="http://nbviewer.ipython.org/gist/jonathanmorgan/a30a8915319edd0a43d2">Interacting with databases using Python - SQLite 3</a> ( <a href="https://gist.github.com/jonathanmorgan/a30a8915319edd0a43d2">source</a> )</li>
            <li><a href="http://nbviewer.ipython.org/gist/jonathanmorgan/e98b308aaf3e25b55d03">APIs - getting, storing, and using data from 3rd parties</a> ( <a href="https://gist.github.com/jonathanmorgan/e98b308aaf3e25b55d03">source</a> )</li>
            <li><a href="http://nbviewer.ipython.org/gist/jonathanmorgan/1373860ed08fe8ecc319">Scraping Information from the web</a> ( <a href="https://gist.github.com/jonathanmorgan/1373860ed08fe8ecc319">source</a> )</li>
            <li><a href="http://nbviewer.ipython.org/gist/jonathanmorgan/a64ad537fa8f45bfaedb">Scraping Dynamic Web Pages - WebKit and Python</a> ( <a href="https://gist.github.com/jonathanmorgan/a64ad537fa8f45bfaedb">source</a> )</li>
            <li><a href="http://nbviewer.ipython.org/gist/jonathanmorgan/5484f688df9e02acdad0">Notes on Unicode and encoding</a> ( <a href="https://gist.github.com/jonathanmorgan/5484f688df9e02acdad0">source</a> )</li>
            <li><a href="http://nbviewer.ipython.org/gist/jonathanmorgan/7379eb6dd915c778375f">Django ORM Example</a> ( <a href="https://gist.github.com/jonathanmorgan/7379eb6dd915c778375f">source</a> )</li>
            <li><a href="http://nbviewer.ipython.org/gist/jonathanmorgan/409384c32d57bf50ce23">Prepping data for analysis</a> ( <a href="https://gist.github.com/jonathanmorgan/409384c32d57bf50ce23">source</a> )</li>
            <li><a href="http://nbviewer.ipython.org/gist/jonathanmorgan/dccb1891d5f83c9923b9">matplotlib - visualization in Python</a> ( <a href="https://gist.github.com/jonathanmorgan/dccb1891d5f83c9923b9">source</a> )</li>
        </ul>
    </body>
</html>
